@import "tailwindcss";

@theme inline {
  --font-display: var(--font-space-grotesk);
  --color-primary: #3b82f6;
  --color-background-light: #ffffff;
  --color-background-dark: #0f172a;
  --color-canvas-grid: #e2e8f0;
}

@layer utilities {
  .pixel-grid {
    background-size: 24px 24px;
    background-image: 
      linear-gradient(to right, #f1f5f9 1px, transparent 1px),
      linear-gradient(to bottom, #f1f5f9 1px, transparent 1px);
  }
  
  .canvas-container {
    image-rendering: pixelated;
    background-color: white;
  }
  
  .custom-cursor {
    pointer-events: none;
    position: absolute;
    z-index: 50;
    transition: transform 0.2s ease-out;
  }
}
